# name: Waka Readme

# on:
#     schedule:
#         - cron: "* */3 * * *"
#     workflow_dispatch:
# jobs:
#     update-readme:
#         name: Update Readme with Metrics
#         runs-on: ubuntu-latest
#         steps:
#             - uses: anmol098/waka-readme-stats@master
#               with:
#                   WAKATIME_API_KEY: ${{ secrets.WAKATIME_API_KEY }}
#                   GH_TOKEN: ${{ secrets.GH_TOKEN }}
#                   SHOW_TIMEZONE: "True"
#                   SHOW_LANGUAGE: "True"
#                   SHOW_OS: "True"
#                   SHOW_EDITORS: "True"
#                   SHOW_PROJECTS: "False"
#                   SHOW_TOTAL_CODE_TIME: "True"
#                   SHOW_COMMIT: "Flase"
#                   SHOW_DAYS_OF_WEEK: "False"
#                   SHOW_LOC_CHART: "False"
#                   SHOW_PROFILE_VIEWS: "Flase"
#                   SHOW_LINES_OF_CODE: "Flase"
#                   IGNORED_REPOS: "BeamNawapat"
#                   SYMBOL_VERSION: 3
